IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Domain]') AND type in (N'U'))
DROP TABLE [dbo].[Domain]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[Domain](
	[Id] [int] NOT NULL IDENTITY (1,1),
	[Name] [varchar] (500) NOT NULL CONSTRAINT [DF_Domain_Name] DEFAULT ('')
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Domain] ADD CONSTRAINT [PK_Domain] PRIMARY KEY
	CLUSTERED
	(
		[Id] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_Name] ON [dbo].[Domain]
(
	[Name] ASC
)ON [PRIMARY]
GO

