IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Path]') AND type in (N'U'))
DROP TABLE [dbo].[Path]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[Path](
	[Id] [int] NOT NULL IDENTITY (1,1),
	[Path] [varchar] (900) NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Path] ADD CONSTRAINT [PK_Path] PRIMARY KEY
	CLUSTERED
	(
		[Id] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_Path] ON [dbo].[Path]
(
	[Path] ASC
)ON [PRIMARY]
GO

